@import "tailwindcss";

@theme {
  --font-sans: var(--font-dm-sans), sans-serif;

  --color-brand-grey: #F0F0F0;
  --color-brand-grey-dark: #E2E2E2;

  --text-base: 16px;
  --text-lg: 19.2px;
  --text-xl: 22px;
  --text-2xl: 26px;

  --text-3xl: 40px;
  --text-2\.5xl: 48px;
  --text-4xl: 60px;

  --tracking-tighter: -0.08em;
  --tracking-tight: -0.04em;

  --leading-1: 1;
  --leading-1\.25: 1.25;
  --leading-1\.5: 1.5;
  --leading-1\.75: 1.75;
  --leading-2: 2;
}

@layer components {
  .font-heading-3xl {
    @apply text-4xl font-medium tracking-tighter leading-1.25;
  }

  .font-heading-2xl {
    @apply text-2.5xl font-medium tracking-tighter leading-1.25;
  }

  .font-heading-xl {
    @apply text-3xl font-medium tracking-tighter leading-1.25;
  }

  .font-heading-lg {
    @apply text-2xl font-medium tracking-tight leading-1.25;
  }

  .font-heading-base {
    @apply text-xl font-medium tracking-tight leading-1.25;
  }

  .font-body-lg {
    @apply text-lg leading-1.5;
  }

  .font-body-base {
    @apply text-base leading-1.5;
  }

  .font-body-link {
    @apply text-base font-medium leading-1.5 underline hover:no-underline underline-offset-8;
  }

  .link-underline-inverted {
    @apply relative inline-block text-base font-medium leading-1.5;

    &::after {
      content: '';
      @apply absolute w-full right-0 -bottom-1 bg-current transition-all duration-200 h-[1px];
    }

    &:hover::after {
      @apply right-0 w-0;
    }
  }

  .link-underline {
    @apply relative inline-block text-base font-medium leading-1.5;

    &::after {
      content: '';
      @apply absolute w-0 left-0 bottom-0 bg-current transition-all duration-200 h-[1px];
    }

    &:hover::after {
      @apply left-0 w-full;
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.page-width {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .page-width {
    padding: 0 3rem;
  }
}

.page-width--narrow {
  max-width: 1160px;
}

.page-width--overflow-right {
  padding: 0 0 0 1rem;
}

@media screen and (min-width: 768px) {
  .page-width--overflow-right {
    padding: 0 0 0 3rem;
  }
}
