@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.page-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .page-width {
    padding: 0 2rem;
  }
}

.page-width--narrow {
  max-width: 1060px;
}

@theme {
  --font-sans: var(--font-dm-sans), sans-serif;

  --color-brand-grey: #F0F0F0;

  --text-2xl: 3.2rem;

  --tracking-tight: -2.9px;
}